{{> modal}}

<div class="row">
  <div class="col-6">
    <h1>Videos</h1>
  </div>
  <div class="col-6 d-flex flex-row justify-content-end align-items-center">
    <form action="/" method="get">
      <div class="input-group">
        <input type="text" name="topic" class="form-control" list="topicOptions" placeholder="Filter by topic">
        <datalist id="topicOptions">
          {{#each topics}}
            <option value="{{name}}">
          {{/each}}
        </datalist>
        <button class="btn btn-outline-secondary" class="btn btn-primary" type="submit">
          Filter
        </button>
      </div>
    </form>
  </div>
</div>

{{#ifEq videos.length 0}}

  <div class="mt-5 text-primary text-center fs-3">Sorry, no videos were found for topic: {{filterByTopic}}</div>

{{else}}

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gx-2 gy-4 mt-2 mb-5">
    {{#each videos}}
      {{> card-video}}
    {{/each}}
  </div>

{{/ifEq}}

<script src="/js/watch-video.js"></script>