<div class="row">
  <div class="col"><h1>Dashboard</h1></div>
  <div class="col d-flex flex-row justify-content-end align-items-center">
    <a href="/admin/videos/create" class="btn btn-outline-success btn-sm">Add video</a>
  </div>
</div>

{{> nav-admin}}

<div class="card card-dashboard mt-3">
  <div class="card-header">Edit video</div>
  <div class="card-body">
    {{> form-handlerErrors}}
    <form action="/admin/videos/{{video.id}}" method="post">
      {{#each inputs}}
        {{> form-input}}
      {{/each}}
      <button type="submit" class="btn btn-primary hover mt-3">Save</button>
      <a href="/admin/videos" class="btn btn-outline-secondary mt-3">Cancel</a>
    </form>
  </div>
</div>